<h1>Find Anagrams!</h1>

<% if @items.key?(:anagrams) %>
  <p>Estos son los <%= @items[:anagrams].count %>  anagramas para '<strong><%= @items[:word] %></strong>':</p>

  <ul>
    <% @items[:anagrams].each do |item| %>
    <li>
      <%= item %>
    </li>
    <% end %>
  <ul>

<%
else
  %> <strong><p><%= @items[:word] %></strong>: no esta en la base de datos</p> <%
end
%>
<br/>
<%= erb :_word_form %>
