<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h1>Blog anonimo</h1>
      <h3>Ultimos 5 #hashtags</h3>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="#Buscar ..">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>

      <ul class="nav nav-pills nav-stacked" id="last_tags">
        <% # Pendiente: hacer benchmark entre Maxhit.all y Tag.maximun(:hits) #class="active"
          top5tags = Tag.order(id: :desc).limit(5)

          top5tags.each do |tag|
            stars = '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' * tag.rank
            %><%=
            "<li><a href='#{tag.tag}'>#{tag.tag} #{stars}</a></li>"
            %><%
          end
        %>
      </ul>

      <h4>Dejanos un post:</h4>
      <form role="form">
        <div class="form-group">
          <input class="form-control"  name="title" required></input>
          <textarea class="form-control" rows="3" name="body" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">mandar</button>
      </form>
      <br>
      <div class="alert alert-success hide" role="alert" id ="save_post_alert">...</div>
    </div>

    <div class="col-sm-9">
      <%
        post_ids = Pt.where(tag_id: top5tags).pluck(:post_id).uniq
        posts = Post.where(id: post_ids).order(id: :desc).limit(10)
        posts.each do |post|
      %>
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h4 id='title'><%= post.title %></h4>
      <h5 id="date_posted"><span class="glyphicon glyphicon-time"></span> Comentado en: <%=  post.created_at.strftime("%Y %m %d") %> </h5>
      <h5 id="post_tags">
        <%
        post.pts.each do |pt|
          %><%= " <span class='label label-primary'>#{Tag.find(pt.tag_id).tag}</span>" %><%
        end
        %>
      </h5>
      <br>
      <%= "<p id='pos'>#{post.body}</p>" %>
    <% end %>
    </div>


  </div>
</div>

<footer class="container-fluid">
  <p>happy post</p>
</footer>
